# Environnement virtuel
.venv/

# Données brutes (volumineuses)
data/raw/
*.zip

# Checkpoints du modèle
data/submissions/checkpoints/

# Fichiers de soumission CSV (générés par predict)
data/submissions/*.csv

# Logs Slurm
logs/
*.out
*.err

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Fichiers locaux
docs/*.local.md
